body {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  color: #f9faf8;
}

h3 {
  margin-left: 100px;
  margin-bottom: 20px;
}

.header_items {
  list-style-type: none;
  display: flex;
  margin-right: 100px;
  margin-top: 20px;
  gap: 18px;
}

/* Footer */

footer {
  color: #f9faf8;
  text-align: center;
}

/* Containers */

.container-one,
.container-two,
.container-three,
.container-four {
  background-color: #f9faf8;
  /* border: 1px solid red; */
  padding: 3%;
}

/* Container 1 */

.container-one {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #1f2937;
}

.container-one h1 {
  color: #f9faf8;
  font-weight: extra-bold;
  font-size: 48px;
}

.container-one p {
  color: #e5e7eb;
  font-size: 14px;
}

.box-one button {
  background-color: #3882f6;
  border-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
}

.template {
  background-color: #ddd;
  padding: 100px;
  text-align: center;
}

.template:before {
  content: "This is a placeholder";
  color: #888;
}
/* Container 2 - TO DO */
.container-two h2 {
  text-align: center;
  font-weight: bolder;
  font-size: 36px;
  color: #1F2937
}

.container-two p {
  color:#888;
}

.box-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px
}

.item{
  text-align: center;
  max-width: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.square{
  border: 4px solid #3882F6;
  border-radius: 20px;
  width: 160px;
  height: 160px;
}

/* Container 3 - TO DO */

.container-three{
  background-color: #E5E7EB;
  justify-content: center;
}

.container-three h4{
  color: #1F2937;
  font-weight: lighter;
  font-style: italic;
  font-size: 36px;
}

.container-three p{
  color: #1F2937;
  font-weight: bolder;
  text-align: right;
}

/* Container 4 */
.container-four .blue-box {
  background-color: #3882f6;
  padding: 1%;
  border-radius: 10px;
  color: #f9faf8;
  width: 80%;
  display: flex;
  flex-direction: row;
}

.container-four h5{
  font-size: 23px;
}

.container-four p {
  font-size: 18px;
  padding-bottom: 10px;
}

.container-four button {
  background-color: #3882f6;
  color: #f9faf8;
  border-color: #f9faf8;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
  font-size: 15px;
}

.container-four{
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-four .blue-box,
.container-four .text{
  align-items: center;
  justify-content: space-around;
  padding: 1%;
}