body {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  color: #f9faf8;
}

h3 {
  margin-left: 100px;
  margin-bottom: 20px;
}

.header_items {
  list-style-type: none;
  display: flex;
  margin-right: 100px;
  margin-top: 20px;
  gap: 18px;
}

/* Footer */

footer {
  color: #f9faf8;
  text-align: center;
}

/* Containers */

.container-one,
.container-two,
.container-three,
.container-four {
  background-color: #f9faf8;
  border: 1px solid red;
  padding: 3%;
}

/* Container 1 */

.container-one {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: #1f2937;
}

.container-one h1 {
  color: #f9faf8;
  font-weight: extra-bold;
  font-size: 48px;
}

.container-one p {
  color: #e5e7eb;
  font-size: 14px;
}

.box-one button {
  background-color: #3882f6;
  border-color: #3882f6;
  color: #f9faf8;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
}

.template {
  background-color: #ddd;
  padding: 100px;
  text-align: center;
}

.template:before {
  content: "This is a placeholder";
  color: #888;
}
/* Container 2 - TO DO */
/* Container 3 - TO DO */

/* Container 4 */
.container-four .blue-box {
  background-color: #3882f6;
}

.container-four button {
  background-color: #3882f6;
  color: #f9faf8;
  border-color: #f9faf8;
  font-weight: bold;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 10px;
}